version: '3.8'

services:
  db:
    image: postgres:alpine
    container_name: postgres-inventory
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data_compose:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis-inventory
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: go-inventory-api
    ports:
      - "${APP_PORT}:8080"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: on-failure

volumes:
  pg_data_compose: