receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  otlp:
    endpoint: "jaeger:4317" # Kirim tracer ke jaeger
    tls:
      insecure: true
  prometheus:
    endpoint: "0.0.0.0:8889" # Expose Metrics biar discrape Prometheus

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]